.container {
    grid-area: selector;

    display: grid;
    position: relative;
    /* 4 tabs + sidebar toggle */
    grid-template-columns: repeat(4, 1fr) auto;
    background-color: var(--bg-1);
    transition: background-color var(--theme-transition-duration);

    &.advisor {
        /* 5 tabs + sidebar toggle */
        grid-template-columns: repeat(5, 1fr) auto;
    }

    &::before {
        content: "";
        background-color: var(--bg-0);
        position: absolute;
        height: 100%;

        /* Width = 1/N of container (excluding auto sidebar) */
        width: 25%;
        transform: translateX(calc(var(--active-index, 0) * 100%));

        grid-column: 1 / -1;
        grid-row: 1 / 2;
        pointer-events: none;

        transition:
            transform var(--menu-transition-duration),
            width var(--menu-transition-duration),
            background-color var(--theme-transition-duration);
    }

    &.advisor::before {
        width: 20%;
    }

    .tabButton {
        font: inherit;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: inherit;
        position: relative;
        font-size: 0.875em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.active {
            cursor: initial;
        }
    }

    .showSidebar {
        & button {
            height: 100%;
            border-left: 0.125em solid var(--bg-2);
            transition: border-left var(--menu-transition-duration);
        }
    }
}
